html {
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
}

div {
    width:100%;
    margin:0;
    padding:0;
    color: #f7f7f7;
}

.jumbotron {
    background-image: url("virus.jpg");
    background-size: cover;
    height: 100%;
}
